<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="{E0F66803-91BF-4571-B8B2-D442D5513E1D}" Name="MyMentor Studio V2" Language="1033" Version="9.0.2.7" Manufacturer="MyMentor" UpgradeCode="dbb0c767-da1c-4acb-8075-a293ead7da66">
    <Package Id="{8793907F-A2D7-4701-BE6E-90865B83E80A}" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Upgrade Id="dbb0c767-da1c-4acb-8075-a293ead7da66">
      <UpgradeVersion
    Property="PREVIOUSFOUND"
        Minimum="0.0.0.0" IncludeMinimum="yes"
        Maximum="19.0.0.0" IncludeMaximum="yes"
    />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <!--<UIRef Id="WixUI_ErrorProgressText" />-->
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MyMentor Studio V2" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <PropertyRef Id="NETFRAMEWORK45"/>
    
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]MyMentor.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="MyMentorSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Feature Id='Complete' Title='MyMentor Studio' Description='The complete package.'
        Display='expand' Level='1' ConfigurableDirectory='INSTALLFOLDER'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='ThirdParty' />
        <ComponentRef Id="ApplicationShortcut" />
      </Feature>
    </Feature>
    <Icon Id="MyMentor.exe" SourceFile="..\MyMentorUtilityClient\bin\debug\MyMentor.exe" />

    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{0BA3BCE3-B7F2-4BFA-8F74-C5FD86B8B088}">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="MyMentor Studio V2"
           Description="MyMentor Studio V2"
            Target="[INSTALLFOLDER]MyMentor.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MyMentorStudio" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MyMentor Studio V2">
          <Directory Id="RFT2HTMLFOLDER" Name="Rtf2Html">
          </Directory>
          </Directory> 
      </Directory>
      <Directory Id="DesktopFolder"  SourceName="Desktop"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MyMentor Studio V2"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid='{F0A69F95-BEC1-4B58-8546-966F08413F5F}'>
        <File Id='MyMentorUtilityClientexe' Name='MyMentor.exe' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\MyMentor.exe' KeyPath='yes'>
          <Shortcut Id="desktop" Directory="DesktopFolder" Name="MyMentor Studio" WorkingDirectory="TARGETDIR" Icon="MyMentor.exe" IconIndex="0" Advertise="yes" />
        </File>
        <File Id='Soundsample' Name='sound_sample.mp3' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\sound_sample.mp3' KeyPath='no'/>
        <File Id='MyMentorUtilityClientexeconfig' Name='MyMentor.exe.config' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\MyMentor.exe.config' KeyPath='no'/>
        <File Id='MyMentorUtilityClientexemanifest' Name='MyMentor.exe.manifest' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\MyMentor.exe.manifest' KeyPath='no'/>
        <File Id='IonicZipdll' Name='Ionic.Zip.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Ionic.Zip.dll' KeyPath='no'/>
        <File Id='NAudio' Name='NAudio.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\NAudio.dll' KeyPath='no'/>        

        <File Id='AudioSoundEditordll' Name='AudioSoundEditor.dll' DiskId='1' Source='C:\Program Files\Audio Sound Suite for .NET\Audio Sound Editor for .NET\Redist\AudioSoundEditor.dll' KeyPath='no'/>        
        <File Id='AudioDjStudiodll' Name='AudioDjStudio.dll' DiskId='1' Source='C:\Program Files\Audio Sound Suite for .NET\Audio DJ Studio for .NET\Redist\AudioDjStudio.dll' KeyPath='no'/>        
        <File Id='AudioSoundRecorderdll' Name='AudioSoundRecorder.dll' DiskId='1' Source='C:\Program Files\Audio Sound Suite for .NET\Audio Sound Recorder for .NET\Redist\AudioSoundRecorder.dll' KeyPath='no'/>        
        <File Id='AdjMmsEngdll' Name='AdjMmsEng.dll' DiskId='1' Source='C:\Program Files\Audio Sound Suite for .NET\Audio Sound Editor for .NET\Redist\AdjMmsEng.dll' KeyPath='no'/>        
        <File Id='AdjMmsEng64dll' Name='AdjMmsEng64.dll' DiskId='1' Source='C:\Program Files\Audio Sound Suite for .NET\Audio Sound Editor for .NET\Redist\AdjMmsEng64.dll' KeyPath='no'/>        
        
        <File Id='NewtonsoftJsondll' Name='Newtonsoft.Json.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Newtonsoft.Json.dll' KeyPath='no'/>
        <File Id='Parsedll' Name='Parse.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Parse.dll' KeyPath='no'/>
        <File Id='ParseNetFx45dll' Name='Parse.NetFx45.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Parse.NetFx45.dll' KeyPath='no'/>
        <File Id='HtmlAgilityPackdll' Name='HtmlAgilityPack.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\HtmlAgilityPack.dll' KeyPath='no'/>

      </Component>
    </ComponentGroup>
   <ComponentGroup Id="Rtf2Html" Directory="RFT2HTMLFOLDER">
      <Component Id="ThirdParty" Guid='{2ABA8FC6-F380-4913-89AC-6FF8C3367CF4}'>
        <File Id='Itenso.Rtf.Converter.Html.dll' Name='Itenso.Rtf.Converter.Html.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\Itenso.Rtf.Converter.Html.dll' KeyPath='no'/>
        <File Id='Itenso.Rtf.Interpreter.dll' Name='Itenso.Rtf.Interpreter.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\Itenso.Rtf.Interpreter.dll' KeyPath='no'/>
        <File Id='Itenso.Rtf.Parser.dll' Name='Itenso.Rtf.Parser.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\Itenso.Rtf.Parser.dll' KeyPath='no'/>
        <File Id='Itenso.Sys.dll' Name='Itenso.Sys.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\Itenso.Sys.dll' KeyPath='no'/>
        <File Id='log4net.dll' Name='log4net.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\log4net.dll' KeyPath='no'/>
        <File Id='Rtf2Html.exe' Name='Rtf2Html.exe' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\Rtf2Html.exe' KeyPath='no'/>
        <File Id='Rtf2Html.exe.config' Name='Rtf2Html.exe.config' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\Rtf2Html.exe.config' KeyPath='no'/>
        <File Id='nunit.core.dll' Name='nunit.core.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\nunit.core.dll' KeyPath='no'/>
        <File Id='nunit.framework.dll' Name='nunit.framework.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\nunit.framework.dll' KeyPath='no'/>
        <File Id='nunit.util.dll' Name='nunit.util.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\nunit.util.dll' KeyPath='no'/>
        <File Id='nunitconsolerunnerdll' Name='nunit-console-runner.dll' DiskId='1' Source='..\MyMentorUtilityClient\bin\debug\Rtf2Html\nunit-console-runner.dll' KeyPath='no'/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>